//
 
$navbar-dark-color: lightgreen;
$navbar-dark-hover-color: white;
$navbar-dark-active-color: white;
$navbar-dark-brand-color: lightgreen;
$navbar-brand-font-size: 2rem;

// Bootstrap
@import 'bootstrap/scss/bootstrap';
