.js-cookie-consent{
background-color: greenyellow;
text-align: center;
padding: 10px 0px;
color: darkslategray;
z-index:999;

}
 .js-cookie-consent button{
color: white;
background-color: green;
border-color: #003400;
}
.js-cookie-consent button:hover {
	background-color: #003400;
}

.footer{
	padding-bottom: 0;
 
}